
# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Dependency directories
jspm_packages/

# Optional npm cache directory
.npm/

# TypeScript
*.tsbuildinfo

# Output
dist/
build/

# Environment variables
.env

# IDE files
.vscode/
.idea/
.DS_Store
